/* ---------------------------- GENERAL SITE STYLING ---------------------------- */
/* GENERAL STYLING: For all page elements */
* {
  /* FONT: Main Body <p> */
  font-family: var(--primary-p-body-font);
  list-style: none;
  scroll-behavior: smooth;
}

/* GENERAL STYLING: Custom global variables for UX/UI palette and font sizes */
:root {
  /* COLOUR */
  --primary-nav-background: rgba(30, 28, 28, 0.95);
  --primary-black-background: #121111;
  --primary-white-background: #FBFBFB;
  --primary-green: #29D1BA;
  --primary-blue: #1378E0;
  --primary-red: #EB362F;
  --primary-blue: #1378E0;
  --primary-pink: #FECFC9;
  --primary-yellow: #FED430;
  // FED430

  /* FONT: NAVIGATION BAR LOGO */
  // --primary-nav-logo-font: 'Poppins', sans-serif;
  --primary-nav-logo-font: 'Helvetica Neue', sans-serif;
  --primary-nav-links-font: 'Helvetica Neue', sans-serif;
  --primary-logo-nav-size: 2em;

  /* FONT: HEADLINE/SUBHEADLINE */
  --primary-h1-headline-font: 'Helvetica Neue', sans-serif;
  --primary-h2-subheadline-font: 'Helvetica Neue', sans-serif;

  /* FONT: Background Text Graphics: 'def initialize */
  --primary-background-font: 'Helvetica Neue', sans-serif;

  /* FONT: Background Text Graphics: '/' */
  --primary-background-font-symbol: 'Helvetica Neue', sans-serif;

  /* FONT: PARAGRAPHS/BODY */
  --primary-p-body-font: 'Helvetica Neue', sans-serif;

  /* FONT SIZES */
  --primary-h1-headline-size: 3em;
  --primary-h2-subheadline-size: 1em;
  --primary-p-body-size: 1em; 
}

/* GENERAL STYLING: Remove inbuilt page padding/margins */
body {
  padding: 0;
  margin: 0;
}

/* GENERAL STYLING: Styling for <h1> <section> headlines */
/* <about>, <skills> <folio>, <contact> */
h1 {
  font-family: var(--primary-h1-headline-font);
  font-size: var(--primary-h1-headline-size);
}

h2 {
  font-family: var(--primary-h2-subheadline-font);
  font-size: var(--primary-h2-subheadline-size);
}

/* GENERAL STYLING: Body Font for <about> and <folio> section */
p {
  font-size: var(--primary-p-body-size);
  /* background: dodgerblue; */
}

/* GENERAL LOGO FONT: Navigation Bar */
.nav-logo {
  font-family: var(--primary-nav-logo-font);
  font-size: var(--primary-logo-nav-size);
  letter-spacing: 3px;
  // font-style: bold;
  color: var(--primary-white-background);
  padding-left: 1em;
}

/* GENERAL GRID: SITE WRAPPER */
.site-wrapper {
  display: grid;
  grid-template-areas: 
  "navigation"
  "home"
  "about-me"
  "skills"
  "folio"
  "contact"
}

/* GENERAL STYLING: Removes scrollbar view */
::-webkit-scrollbar {
  width: 0px;
  /* background: transparent; */
}

/* ---------------------------- NAVIGATION ---------------------------- */
/* NAVIGATION: Bar */
header {
  background: var(--primary-nav-background);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
  margin: 0;
  padding: 0;
  /* box-shadow: 0 1px 8px; */
}

/* NAVIGATION: Hides the checkbox */
.nav-toggle {
  display: none;
}

/* NAVIGATION: Sets the burger menu to act as checkbox */
.nav-toggle-label {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

/* NAVIGATION: Defines lines/behaviours for the burger menu */
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: var(--primary-white-background);
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}
.nav-toggle-label span::before,
.nav-toggle-label span::after {
content: '';
position: absolute;
}
.nav-toggle-label span::before {
  bottom: 7px;
}
.nav-toggle-label span::after {
  top: 7px;
}

/* NAVIGATION: Determines the placement, colour and behaviour of the <flyout> navigation bar */
nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--primary-nav-background);
  width: 100%;
  /* display: none; */
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

/* NAVIGATION: Formats the unordered list  */
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* NAVIGATION: Formats navigation text/links */
nav li {
  margin-bottom: 1em;
  margin-left: 1em;   
}

/* NAVIGATION: Styling text links */
nav a {
  color: var(--primary-white-background);
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
  /* NAVIGATION FONT: Section Links */
  font-family: var(--primary-nav-links-font);
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

/*---------------------------- HOMEPAGE ----------------------------*/
/* HOMEPAGE GRID TEMPLATE */
.home {
  grid-area: home;
  min-height: 100vh;
  min-width: 100vw;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  /* background-color: dodgerblue; */
}

/* HOMEPAGE GRID ROW/COLUMN: Aligns the logo vector to the centre of the homepage */
.logo-container {
  grid-column: 2 / 3;
  grid-row: 3 / 6;
  width: 40vw;
  max-width: 350px;
  justify-self: center;
  align-self: center;
  text-align: center;
}

/* HOMEPAGE LOGO: Logo Image & Button  */
.logo-container img {
  width: 40vw;
  max-width: 250px;
  padding-bottom: 50px;
  /* background: rebeccapurple; */
}

/* ---------------------------- ABOUT ME ---------------------------- */
/* ABOUT ME GRID TEMPLATE: Creates a grid for the About Me section*/
.about-me {
  grid-area: about-me;
  min-height: 100vh;
  min-width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr 1fr 0.5fr 0.5fr 1fr 1fr;
  grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 1fr 1fr 0.5fr 0.5fr 1fr 1fr 1fr 1fr;
  background: var(--primary-black-background);
  overflow: hidden;
}

/* ABOUT ME GRID ROW/COLUMN: Placement of '< about me >' headline */
.about-me-headline {
  grid-row: 2 / 7;
  grid-column: 6 / 11;
  color: var(--primary-white-background);
}

/* ABOUT ME GRID ROW/COLUMN: Placement of 'Hello.' subheadline */
.about-me-subhead {
  grid-row: 5 / 7;
  grid-column: 2 / 3;
  /* Override global <h2> styling */
  font-size: 2em;
  color: var(--primary-white-background);
}

/* ABOUT ME GRID ROW/COLUMN: Placement of body copy 1 */
.about-me-body {
  grid-column: 3 / 9;
  grid-row: 6 / 12;
  /* background: aqua; */
  color: var(--primary-white-background);
}

/* ABOUT ME GRID ROW/COLUMN: Placement of body copy 2
.about-me-body-2{
  grid-column: 2 / 4;
  grid-row: 6 / 8;
  font-size: 16px;
  color: white;
} */

/* ABOUT ME GRID ROW/COLUMN: Placement of 'def initialize' decorative background text */
.about-me-background-init {
  grid-column: 2 / 5;
  grid-row: 4 / 7;
  font-size: 1em;
  /* background: indianred; */
  font-family: var(--primary-background-font);
  color: var(--primary-white-background);
}

/* ABOUT ME: Defines behaviours and formatting for 'def initalize' blinking cursor */
.blinking-cursor {
  font-weight: 100;
  font-size: 20px;
  color: var(--primary-white-background);
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}
@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: var(--primary-white-background);
  }
} 
@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: var(--primary-white-background);
  }
}
@-webkit-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: var(--primary-white-background);
  }
}
@-ms-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: var(--primary-white-background);
  }
}
@-o-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: var(--primary-white-background);
  }
}

/* ABOUT ME GRID ROW/COLUMN: Placement of '/' decorative background text */
.about-me-background-symbol {
  grid-column: 9 / 11;
  grid-row: 10 / 12;
  font-family: var(--primary-background-font-symbol);
  /* ABOUT ME BACKGROUND: '/' */
  font-size: 7em;
  color: var(--primary-white-background);
}

/* ---------------------------- SKILLS ---------------------------- */
/* SKILLS GRID TEMPLATE: Creates a grid for the Skills section */
.skills {
  grid-area: skills;
  min-height: 100vh;
  min-width: 100vw;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(16, 1fr);
}

/* SKILLS GRID ROW/COLUMN: Placement of '{ :skills } headline' */
.skills-headline {
  grid-column: 1 / 3;
  grid-row: 5 / 11;
  writing-mode: vertical-rl;
}

/* SKILLS: Removes inbuilt indentation for <li> front-end, back-end, other skills */
.skills ul {
  list-style: none;
  padding: 0;
}

/* SKILLS: Body paragraph styling for body/list copy */
.skills-list li {
  font-size: var(--primary-p-body-size);
  /* background: yellow; */
}

/* SKILLS GRID ROW/COLUMN: Placement of ':front_end' body copy */
.skills-frontend {
  grid-column: 3 / 5;
  grid-row: 5 / 16;
}

/* SKILLS GRID ROW/COLUMN: Placement of ':back_end' body copy */
.skills-backend {
  grid-column: 3 / 5;
  grid-row: 11 / 16;
}

/* SKILLS GRID ROW/COLUMN: Placement of ':other' body copy */
.skills-other {
  grid-column: 6 / 9;
  grid-row: 10 / 16;
}

/* SKILLS GRID ROW/COLUMN: Placement of decorative background rectangles */
/* SKILLS RECTANGLE: Bottom Left */
.skills-rectangle-bottom-left {
  grid-column: 1 / 2;
  grid-row: 10 / 15;
  background: var(--primary-black-background);
}
.skills-rectangle-bottom-left:hover {
  background: var(--primary-blue);
  transition: 320ms;
}

/* SKILLS RECTANGLE: Middle Left */
.skills-rectangle-middle-left {
  grid-column: 2 / 5;
  grid-row: 3 / 4;
  background: var(--primary-black-background);
}
.skills-rectangle-middle-left:hover {
  background: var(--primary-yellow);
  transition: 320ms;
}

/* SKILLS RECTANGLE: Bottom Right */
.skills-rectangle-bottom-right {
  grid-column: 3 / 8;
  grid-row: 16 / 17;
  background: var(--primary-black-background);
}
.skills-rectangle-bottom-right:hover {
  background: var(--primary-green);
  transition: 320ms;
}

/* SKILLS RECTANGLE: Middle Center */
.skills-rectangle-middle-center {
  grid-column: 6 / 7 ;
  grid-row: 6 / 9 ;
  background: var(--primary-black-background);
  transition: 500ms;
}
.skills-rectangle-middle-center:hover {
  background: var(--primary-red);
  transition: 320ms;
}

/* RECTANGLE: Top Right*/
.skills-rectangle-top-right {
  grid-column: 8 / 9;
  grid-row: 1 / 8;
  background: var(--primary-black-background);
}
.skills-rectangle-top-right:hover {
  background: var(--primary-pink);
  transition: 320ms;
}

/* ---------------------------- FOLIO ---------------------------- */
/* FOLIO ROTATION WRAPPER: Creates a container for page rotation */
.folio-container {
  grid-area: folio;
  overflow: hidden;
  background: var(--primary-black-background);
}

/* FOLIO GRID TEMPLATE: Creates a grid for the Folio section */
.folio {
  min-height: 100vh;
  min-width: 100vw;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(14, 1fr);
  background: var(--primary-black-background);
  transform: rotate(-30deg);
}

/* FOLIO GRID ROW/COLUMN: Placement of '[ folio ]' headline */
.folio h1 {
  grid-column: 4 / 7;
  grid-row: 4 / 8;
  color: var(--primary-white-background);
}

/* FOLIO GRID ROW/COLUMN: Assigns the Swiper Container to Grid layout */
.swiper-container {
  grid-column: 2 / 6;
  grid-row: 7 / 12;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  font-size: 18px;
  /* Use background colour for swiper testing */
  /* background-color: dodgerblue; */
  /* Center slide text vertically */
  /* display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex; */
  /* display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; */
}
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23f8f8f8'%2F%3E%3C%2Fsvg%3E");
/* left: 10px;
right: auto; */
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23f8f8f8'%2F%3E%3C%2Fsvg%3E");
/* margin-left: 2em; */
/* right: 20px; */
/* left: auto; */
}

/* FOLIO GRID ROW/COLUMN: Placement of folio section body */
.folio-body-container {
  color: var(--primary-white-background);
  padding: 0 2.5em 0 2.5em;
}

/* FOLIO BODY: Hides second paragraph for mobile view */
.folio-body-full-1 {
  display: none;
}

.folio-body-full-2 {
  display: none;
}

/* FOLIO LINKS: Styling for GitHub Project links */
.git-link {
  /* background: var(--primary-blue);
  padding: .5em; */
  font-style: none;
  text-decoration: none;
  padding: 0.3em 0.5em 0.3em 0.5em;
  color: var(--primary-white-background);
}
.git-link:link {
  text-decoration: none;
  color: var(--primary-white-background)
}
.git-link:hover {
  background: var(--primary-green);
  color: var(--primary-white-background);
}
/* To make every second link hovered over primary blue instead of yellow */
.swiper-slide:nth-child(2) .folio-body-container .git-link:hover {
  background: var(--primary-red);
  color: var(--primary-white-background);
}

/* To make every third link hovered over primary blue instead of yellow */
.swiper-slide:nth-child(3) .folio-body-container .git-link:hover {
  background: var(--primary-blue);
  color: var(--primary-white-background);
}


/* FOLIO GRID ROW/COLUMN: Placement of 'NAN' background decorative type */
.folio-background-text {
  grid-column: 6 / 7;
  grid-row: 1 / 3;
  /* FOLIO BACKGROUND: 'NaN' */
  font-size: 2em;
  color: var(--primary-white-background);
}

/* FOLIO LINE: Placement and fill for first horizontal line/rectangle */
.folio-first-line {
  grid-column: 2 / 7;
  grid-row: 2 / 4;
}
.first-line-fill {
  background-color: var(--primary-white-background);
  width: 100%;
  height: 5%;
}

/* FOLIO LINE: Placement and fill for second horizontal line/rectangle */
.folio-second-line {
  grid-column: 1 / 6;
  grid-row: 4 / 5;
}
.second-line-fill {
  background-color: var(--primary-white-background);
  width: 100%;
  height: 30%;
}

/* FOLIO LINE: Placement and fill for third horizontal line/rectangle */
.folio-third-line {
  grid-column: 1 / 3;
  grid-row: 5 / 6;
}
.third-line-fill {
  background-color: var(--primary-white-background);
  width: 100%;
  height: 70%;
}

/* FOLIO LINE: Placement and fill for fourth horizontal line/rectangle */
.folio-fourth-line {
  grid-column: 2 / 7;
  grid-row: 6 / 7;
}
.fourth-line-fill {
  background-color: var(--primary-white-background);
  width: 100%;
  height: 70%;
}

/* FOLIO LINE: Placement and fill for fifth horizontal line/rectangle */
.folio-fifth-line {
  grid-column: 1 / 7;
  grid-row: 13 / 14;
}
.fifth-line-fill {
  background-color: var(--primary-white-background);
  width: 100%;
  height: 90%;
}

/* ---------------------------- CONTACT ---------------------------- */
/* CONTACT GRID TEMPLATE: Creates a grid for the Contact section */
.contact {
  grid-area: contact;
  min-height: 100vh;
  max-height: 100vh;
  min-width: 100vw;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(14, 1fr);
  overflow: hidden;
}

/* CONTACT GRID ROW/COLUMN: Placement of '@contact' headline */
.contact h1 {
  grid-column: 1 / 5;
  grid-row: 3 / 4;
  color: var(--primary-white-background);
}

/* CONTACT BACKGROUND: '/' */
.contact-background-symbol {
  grid-column: 2 / 9;
  grid-row: 1 / 4;
  /* CONTACT BACKGROUND: '/' */
  font-size: 30em;
  font-family: var(--primary-background-font-symbol);
}

/* CONTACT BACKGROUND: Line '---' */
.contact-line-horizontal {
  grid-column: 1 / 7;
  grid-row: 2 / 3 ;
}
.horizontal-line-fill {
  background-color: var(--primary-black-background);
  width: 100%;
  height: 5px;
}

/* CONTACT BACKGROUND: Cross '+' */
.contact-cross-horizontal {
  grid-column: 6 / 9;
  grid-row: 11 / 13 ;
}
.horizontal-cross-fill {
  background-color: var(--primary-black-background);
  width: 100%;
  height: 10px;
}
.contact-cross-vertical {
  grid-column: 8 / 9;
  grid-row: 7 / 13;
}
.vertical-cross-fill {
  background-color: var(--primary-black-background);
  width: 10px;
  height: 100%;
}

/* CONTACT: Social Media Links */
.social-links {
  /* grid-area: footer; */
  grid-column: 2 / 4;
  grid-row: 11 / 12;
  z-index: 1;
  display: flex;
  justify-content: center;
  padding: 1em;
}

/* CONTACT GRID ROW/COLUMN: Placement of the Netlify contact form */
.contact-form-wrapper {
  grid-column: 2 / 8;
  grid-row: 2 / 15;
}

/* CONTACT FORM: To change the background colour of the Contact form */
.form_box {
  width: 100%;
  padding: 40px;
  /* CONTACT FORM BACKGROUND */
  background: var(--primary-black-background);
  /* background: dodgerblue; */
  box-sizing:  border-box;
  /* CONTACT FORM: Opacity */
  opacity: 0.85;
  z-index: 30;
  margin: 0 auto;
}

/* CONTACT FORM: To change the colour of the form field titles */
.form_box h1 {
  margin: 0 0 30px;
  padding: 0;
  font-size: var(--primary-h1-headline-size);
  text-align: center;
  font-family: var(--primary-h1-headline-font);
}

/* CONTACT FORM To change the positioning of the form field title */
.form_box .inputBox {
  position: relative;
  -webkit-appearance: none;
}

.form_box .inputBox input, 
.form_box .inputBox textarea {
  width: 100%;
  /* Padding between text input and form field label */
  padding: 10px 0;
  /* Size of form text input */
  font-size: var(--primary-p-body-size);
  /* Font of form text input */
  font-family: var(--primary-p-body-font);
  /* To change the colour of inputted text */
  color: var(--primary-white-background);
  margin-bottom: 30px;
  border: none;
  /* To change the colour of the line underneath the Contact form field */
  border-bottom: 1px solid var(--primary-white-background);
  outline: none;
  background: transparent;
  -webkit-appearance: none;
}

.form_box .inputBox input:-webkit-autofill, 
.form_box .inputBox textarea:-webkit-autofill {
  box-shadow: 0 0 0 30px #ED6400 inset;
  -webkit-box-shadow: 0 0 0 30px #ED6400 inset;
  -webkit-text-fill-color: var(--primary-white-background);
}

/* CONTACT FORM: Font/color for input label */
.form_box .inputBox label {
  position: absolute;
  top: 0;
  left: 0;
  top: -15;
  padding: 10px 0;
  /* Applies only to <email> field */
  font-size: var(--primary-p-body-size);
  /* Font and colour of form <input> labels: First Name, Last Name, Email, Message */
  font-family: var(--primary-p-body-font);
  color: var(--primary-white-background);
  pointer-events: none;
  transition: .5s;
  -webkit-appearance: none;
}

/* CONTACT FORM: Animation when field is hovered over */
.form_box .inputBox input:focus ~ label,
.form_box .inputBox input:valid ~ label,
.form_box .inputBox textarea:focus ~ label,
.form_box .inputBox textarea:valid ~ label {
  top: -18px;
  left: 0;
  /* Font colour/size of field name text when field has input within it: First Name, Last Name, Email, Message */
  color: var(--primary-white-background);
  font-size: 12px;
}

/* CONTACT FORM: To remove red box outline for required input */
input:required {
  box-shadow:none;
}

/* CONTACT FORM: To remove red box outline for invalid input */
input:invalid {
  box-shadow: none;
}

/* CONTACT FORM:To remove red box outline for invalid input */
textarea:invalid {
  box-shadow: none;
}

/* CONTACT FORM: To center submit button */
.submit-button {
  display: flex;
  justify-content: center;
  padding: 10px 50px;
}

/* CONTACT FORM: Styling for 'Get in Touch submit <button> */
.form_box input[type="submit"] {
  background: transparent;
  border: none;
  outline: none;
  font-size: var(--primary-p-body-size);
  font-family: var(--primary-p-body-font);
  /* color: #ffffff; */
  /* background: #141519; */
  background: var(--primary-white-background);
  color: var(--primary-black-background);
  padding: 9px 49px;
  cursor: pointer;
  border-radius: 0px;
  -webkit-appearance: none;
}
/* CONTACT FORM: Hover animation over <button> */
.form_box input[type="submit"]:hover {
  color: var(--primary-black-background);
  background: var(--primary-green);
  transition:background-color 0.3s ease-in-out;
  box-shadow: 0 5px 15px #141519;
  font-size: 15.6px;
  color: var(--primary-black-background);
  -webkit-appearance: none;
}

/* ---------------------------- MEDIA QUERIES ---------------------------- */
/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {...} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...}  */

/* ---------- MEDIA QUERIES - MOBILE: Add Media Query for Mobile First ----------*/
/* MEDIA QUERIES: Media Query set from iPhone 5/SE 📱(320 x 568px or less) */
@media screen and (max-width: 326px), screen and (max-height: 568px) {

  /* MEDIA QUERIES - FOLIO: SWIPER */
  .swiper-container {
      grid-column: 1 / 8;
      grid-row: 7 / 13;
  }

  /* MEDIA QUERIES - CONTACT: FORM */
  /* CONTACT GRID ROW/COLUMN: Placement of the Netlify contact form */
  .contact-form-wrapper {
    // grid-column: 1 / 9;
    // grid-row: 1 / 15;
  }

  /* MEDIA QUERIES - CONTACT: HEADLINE */
  // Remove social links headline to give some clearance
  .social-links {
    display: none;
  }

}

/* MEDIA QUERIES: Media Query set from iPhone 6📱(375 x 667px or less) */
@media screen and (max-width: 375px), screen and (max-height: 667px) {

  /* MEDIA QUERIES - CONTACT: FORM */
  /* CONTACT GRID ROW/COLUMN: Placement of the Netlify contact form */
  .contact-form-wrapper {
    // grid-column: 1 / 9;
    // grid-row: 1 / 15;
  }

}

/* ---------- MEDIA QUERIES: Add Media Query for Navigation ----------*/
@media screen and (max-width: 320px), screen and (max-width: 600px) {

  /* NAVIGATION BAR: BURGER MENU <SECTION> HOVER ANIMATION */
  nav a {
      padding: 0.3em 0.5em 0.3em 0.5em;
      color: var(--primary-white-background);
  }

  nav a:hover {
      background: var(--primary-green);
      color: var(--primary-white-background);
  }
}

/* ---------- MEDIA QUERIES - ROTATION: Add Media Query for Desktop ----------*/
/* max-width: 600px => Stops the rotation of folio section up until screens of 600px { */
@media only screen and (max-width: 600px) {

  /* ----- MEDIA QUERIES - FOLIO: ROTATION ----- */
  .folio {
      transform: rotate(0deg);
  }

  /* MEDIA QUERIES - FOLIO: Swiper */
  .swiper-container {
      grid-column: 1 / 8;
      grid-row: 7 / 13;
  }
}

/* ---------- MEDIA QUERIES - NAVIGATION: Add Media Query for Desktop ----------*/
/* min-width: 600px => Only show the full navigation bar until 600px, otherwise show burger menu on smaller screens */
@media screen and (min-width: 600px) {
  /* ----- MEDIA QUERIES - NAVIGATION ----- */
  .nav-toggle-label {
      display: none;
  }

  header {
      display: grid;
      grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  .logo {
      grid-column: 2 / 3;
  }
    
  nav {
      all: unset;
      grid-column: 3 / 4;
      display: flex;
      justify-content: flex-end;
      align-items: center;
  }
    
  nav ul {
      display: flex;
  }
    
  nav li {
      margin-left: 3em;
      margin-bottom: 0;
  }
    
  nav a {
      opacity: 1;
      position: relative;
  }
    
  nav a::before {
      content: '';
      display: block;
      height: 5px;
      /* NAVIGATION COLOR: Line above hovered <section> */
      background: var(--primary-green);
      position: absolute;
      top: -.75em;
      left: 0;
      right: 0;
      transform: scale(0, 1);
      transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
      transform: scale(1,1);
  }

  /* ----- MEDIA QUERIES - FOLIO ----- */
  .folio-body-full-1 {
      display: block;
  }

}