/********* GENERAL PAGE STYLING *********/
/* Styling applied to all page elements */
* {
    font-family: 'Oxygen', sans-serif;
    list-style: none;
    scroll-behavior: smooth;
}

/* Add Media Query for Desktop */
/* @media only screen and (min-width: 480px) { */

/* Removes the indentation from unordered lists */
ul {
    padding: 0; 
}

/* Syling for page section headlines */
h1 {
    font-family: 'Roboto', sans-serif;
}

/********** NAVIGATION **********/
/* Creates a flexbox for navigation, content is centre-justified */
nav {
    display: flex;
    justify-content: center;
}

footer {
    justify-content: center;
}

/* .container {
    display: grid;
    grid-template-areas:
    "menu"
    "home"
    "about"
    "skills"
    "folio"
    "contact"
} */

/* Navigation links float menu bar as a flexbox */
.navigation-links {
    position: fixed;
    display: flex;
}

/* Defines space between navigation links */
.navigation-links li {
    padding: 0 1em 0 1em;
    /* background-color: aquamarine; */
    font-size: 0.7em;
}

/* Changes the background colour of navigation links */
/* .navigation-links li:nth-child(even) {
    background-color: blueviolet;
} */

/******** HOMEPAGE ********/
/* Homepage elements contained in flexbox */
.home {
    display: flex;
    flex-direction: column;
    background-color: dodgerblue;
    justify-content: center;
    min-height: 100vh;
}

/* Aligns the logo vector to the centre of the homepage */
.logo-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 40vw;
    align-self: center;
}

/* Aligns the arrow vector to the botton centre of the homepage */
.arrow-graphic {
    display: flex;
    justify-content: flex-end;
}

/* Adds padding to the 'CALCULATE' button/link */
.homepage-button {
    padding: 1em;
}

/******** ABOUT ME ********/
/* Creates a grid for the About Me section*/
.about-me {
    max-height: 100vh;
    display: grid;
    grid-area: about;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr 1fr 0.5fr 0.5fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 1fr 1fr 0.5fr 0.5fr 1fr 1fr 1fr 1fr 1fr;
    background-color: black;
    overflow: hidden;
}

/* Placement of '< about me >' headline */
.about-me-headline {
    grid-row: 1 / 3;
    grid-column: 6 / 11;
    font-size: 2em;
    color: white;
}

/* Placement of 'Hello.' subheadline */
.about-me-subhead {
    grid-row: 6 / 7;
    grid-column: 2 / 3;
    font-size: 1em;
    color: white;
}

/* Placement of body copy 1 */
.about-me-body {
    grid-column: 2 / 8;
    grid-row: 7 / 9;
    font-size: 14px;
    color: white;
}

/* Placement of body copy 2
.about-me-body-2{
    grid-column: 2 / 4;
    grid-row: 6 / 8;
    font-size: 16px;
    color: white;
} */

/* Placement of 'def initialize' decorative background text */
.about-me-background-init {
    grid-column: 2 / 5;
    grid-row: 3 / 5;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    color: white;
}

/* Defines behaviours and formatting for blinking cursor */
.blinking-cursor {
    font-weight: 100;
    font-size: 20px;
    color: white;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
  }
  
  @keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: white;
    }
  }
  
  @-moz-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: white;
    }
  }
  
  @-webkit-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: white;
    }
  }
  
  @-ms-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: white;
    }
  }
  
  @-o-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: white;
    }
  }

/* Placement of '/' decorative background text */
.about-me-background-symbol {
    grid-column: 9 / 11;
    grid-row: 10 / 12;
    font-size: 6em;
    color: white;
}

/******** SKILLS ********/
/* Creates a grid for the Skills section */
.skills {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(16, 1fr);
}

/* Placement of '{ :skills } headline' */
.skills-headline {
    grid-column: 1 / 7;
    grid-row: 2 / 5;
    font-size: 2em;
}

/* Styling for ':front_end, :back_end, :other' subheadlines */
.skills h2 {
    font-size: 1em;
}

/* Syling for body/list copy */
.skills li {
    font-size: 14px;
}

/* Placement of ':front_end' body copy */
.skills-frontend {
    grid-column: 3 / 5;
    grid-row: 5 / 16;
}

/* Placement of ':back_end' body copy */
.skills-backend {
    grid-column: 3 / 5;
    grid-row: 11 / 16;
}

/* Placement of ':back_end' body copy */
.skills-other {
    grid-column: 6 / 9;
    grid-row: 10 / 16;
}

/* Placement of decorative background rectangles */
.skills-rectangle-bottom-left {
    grid-column: 1 / 2;
    grid-row: 10 / 15;
    background: black;
}

.skills-rectangle-middle-left {
    grid-column: 2 / 5;
    grid-row: 4 / 5;
    background: black;
}

.skills-rectangle-bottom-right {
    grid-column: 3 / 8;
    grid-row: 16 / 17;
    background: black;
}

.skills-rectangle-middle-center {
    grid-column: 5 / 6 ;
    grid-row: 6 / 9 ;
    background: black;
}

.skills-rectangle-top-right {
    grid-column: 8 / 9;
    grid-row: 1 / 8;
    background: black;
}

/******** FOLIO ********/
/* Creates a grid for the Folio section */
.folio {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(14, 1fr);
    background: black;

}

.folio {
    transform: rotate(-30deg);
}

.rotate-container{
    background: black;
    overflow: hidden;
}

/* Placement of '{ :skills }' headline */
.folio h1 {
    font-size: 2em;
    grid-column: 4 / 7;
    grid-row: 5 / 8;
    color: white;
}

/* Placement of 'Terminal Application: myMDb' subheadline */
.folio h2 {
    grid-column: 2 / 5;
    grid-row: 8 / 13;
    font-size: 1em;
    color: white;
}

/* Placement of folio section body */
.folio-body {
    grid-column: 2 / 6;
    grid-row: 9 / 13;
    /* font-size: 2em; */
    color: white;
}

/* Placement of 'NAN' background decorative type */
.folio-background-text {
    grid-column: 6 / 7;
    grid-row: 1 / 3;
    font-size: 1em;
    color: white;
}

/* Placement and fill for first horizontal line/rectangle */
.folio-first-line {
    grid-column: 2 / 7;
    grid-row: 3 / 4;
}

.first-line-fill {
    background-color: white;
    width: 100%;
    height: 5%;
}

/* Placement and fill for second horizontal line/rectangle */
.folio-second-line {
    grid-column: 1 / 6;
    grid-row: 4 / 5;
}

.second-line-fill {
    background-color: white;
    width: 100%;
    height: 30%;
}

/* Placement and fill for third horizontal line/rectangle */
.folio-third-line {
    grid-column: 1 / 3;
    grid-row: 5 / 6;
}

.third-line-fill {
    background-color: white;
    width: 100%;
    height: 70%;
}

/* Placement and fill for fourth horizontal line/rectangle */
.folio-fourth-line {
    grid-column: 2 / 7;
    grid-row: 7 / 8;
}

.fourth-line-fill {
    background-color: white;
    width: 100%;
    height: 70%;
}

/* Placement and fill for fifth horizontal line/rectangle */
.folio-fifth-line {
    grid-column: 1 / 7;
    grid-row: 13 / 14;
}

.fifth-line-fill {
    background-color: white;
    width: 100%;
    height: 90%;
}

/******** CONTACT ********/
/* Creates a grid for the Folio section */
.contact {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(14, 1fr);
    /* overflow: hidden; */
}

/* Placement of '@contact' headline */
.contact h1 {
    font-size: 2em;
    grid-column: 1 / 5;
    grid-row: 3 / 4;
}

/* Placement of the Netlify contact form */
.contact-form {
    grid-column: 2 / 5;
    grid-row: 4 / 10;
    font-size: 1em;
}

/* Placement of Chinese name background vector */
.contact-chinese-name {
    grid-column: 6 / 9;
    grid-row: 1 / 15;
}

/* Media Query to set for mobile-first */
@media(min-width: 320px) {
    /* .contact-chinese-name {
        /* display: none; */
        /* grid-column: ;
        grid-row: ;
    } */
    p {
        font-size: 12px;
    }
}

/* Media Query to set for desktop-first */
@media(max-width: 600px) {
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {...}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}
 
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}
 
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}
 
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...} 